# PHPStorm
.idea

# OSX
.DS_Store

# Composer
vendor/
bin/
logs/
composer.lock

# NPM
node_modules/
package.json
package-lock.json

# Build stuff
.build/

# Cache
.php-cs-fixer.cache
.phplint.cache
.phpunit.result.cache
.phpunit.cache
