parameters:
	ignoreErrors:
		-
			message: "#^Argument of an invalid type array\\|object supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: src/JsonMapper.php

		-
			message: "#^Method MagicSunday\\\\JsonMapper\\:\\:makeInstance\\(\\) has parameter \\$constructorArguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/JsonMapper.php
